.Contacts {
    background: #F7F9FB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 104px;
}
.conteinerContacts {
    display: grid;
    grid-auto-flow: column;
    column-gap: 69px;
    justify-content: center;
    font-weight: normal;
    font-style: normal;
}
